#mce-BID,
#mce-EMAIL,
#mce-NAME
{
	font-family: "Franie", arial, sans-serif;
	font-size: max(125%, 16px);
	color: white;
	padding: 0.5em;
  background-color: rgb(255, 255, 255, 0.6);
  border: solid 2px white;
  border-radius: 0;
  width: 100%;
  max-width: 500px;
	margin-top: 0.5em;
}


#mce-BID:focus,
#mce-EMAIL:focus,
#mce-NAME:focus
{
	outline: none;
  background-color: rgb(255, 255, 255, 0.8);
}


#mc-embedded-subscribe {
	font-family: "Franie", arial, sans-serif;
	font-size: 125%;
	background-color: yellow;
	border: 0;
	padding: 0.75em 4em;
}
